<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>VSTS Octobot - Setup</title>
  <meta name="description" content="Setup page for VSTS Octobot">
  <meta name="author" content="helaili">
  <link rel="stylesheet" href="css/primer.css">
</head>
<body>
  <div class="container">
    <h2 class="Subhead-heading f3">Please provide VSTS credentials</h2>
    <form action="/vsts-octobot/setup" method="post" autocomplete="off">
      <input type="hidden" name="installation_id" value='{{installation_id}}'>
      <dl class="form-group">
        <dt><label>Username</label></dt>
        <dd><input class="form-control" type="text" name="username"></dd>
      </dl>
      <dl class="form-group">
        <dt><label>Personal access token</label></dt>
        <dd><input class="form-control" type="text" name="token"></dd>
      </dl>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
